<%= form_with(model: article) do |form| %>
  
  <%= render 'shared/errors', errors: article.errors %>

  <div class="row">
    <div class="input-field col s6">
      <%= form.label :title, class: "validate" %>
      <%= form.text_field :title, class: "validate" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <%= form.label :description, class: "validate" %>
      <%= form.text_field :description, class: "validate" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
    <%#= form.submit %>
    <%= link_to 'Back', articles_path, class: "waves-effect waves-light btn" %>
    <button type="submit" class="waves-effect waves-light btn green">Salvar</button>
    </div>
  </div>      
  
<% end %>
<script>
  $(document).ready(function() {
    M.updateTextFields();
  });
</script>