<%= render 'shared/message_success' %>
<h1 class="center-align">List of Bloggers</h1>
<br>
<div class="container">
  <% @users.each do |user| %>  
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card">
          <div class="card-content center">
            <%= avatar_image(user) %>
            <span class="card-title">
              <%= link_to "#{user.username}", user %>
            </span>
            <p><i><%= pluralize(user.articles.length, "article", plural: "articles" ) %></i></p>
            <p><i>Joined: <%= time_ago_in_words(user.updated_at) %></i></p>
          </div>
          <div class="card-action center-align grey lighten-4">
            <%= link_to user_path(user), class: "waves-effect waves-light btn" do %>
              <i class="material-icons">pageview</i>
            <% end %>
            <% if loggined_in? && user == current_user %>
              <%= link_to edit_user_path(user), class: "waves-effect waves-light btn" do %>
                <i class="material-icons">edit</i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>              
  <% end %>
</div>
<center>
  <%= paginate @users %>
</center>
<br>