<%= render 'shared/message_success' %>
<div class="container">
  <div class="center-align">
    <p>
      <%= avatar_image(@user) %>
      <h5>
        <%= @user.username.capitalize %>'s profile
        <%= link_to edit_user_path(@user) do %>
          <i class="tiny material-icons">edit</i>
        <% end %>
      </h5>
    </p> 
    <h3>Articles</h3>
    <%= render 'articles/article' %>
  </div>
</div>