<%#= render 'shared/message_center' %>
<div class="container">
  <div class="center-align">
    <p>
      <%= avatar_image(@user) %>
      <h5>
        <%= @user.username.capitalize %>'s profile
        <% if loggined_in? && @user == current_user %>
          <%= link_to edit_user_path(@user) do %>
            <i class="tiny material-icons">edit</i>
          <% end %>
        <% end %>
      </h5>
    </p> 
    <h3>Articles</h3>
    <%= render 'articles/article' %>
  </div>
</div>
<center>
  <%= paginate @articles %>
</center>