<%#= render 'shared/message_center' %>
<h1 class="center-align">List of Categories
  <% if loggined_in? %>
    <%= link_to new_category_path, class: "btn-floating btn-large waves-effect waves-light green" do %>
      <i class="material-icons">add</i>
    <% end %>
  <% end %>
</h1>
<br>
<div class="container">
  <% @categories.each do |category| %>  
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card">
          <div class="card-content center">
            <span class="card-title">
              <%= link_to "#{category.name}", category %>
            </span>
            <p><i><%= pluralize(category.articles.length, "article", plural: "articles" ) %></i></p>
            <p><i>Joined: <%= time_ago_in_words(category.updated_at) %></i></p>
          </div>
          <div class="card-action center-align grey lighten-4">
            <%= link_to category_path(category), class: "waves-effect waves-light btn" do %>
              <i class="material-icons">pageview</i>
            <% end %>
            <% if loggined_in? && current_user&.admin? %>
              <%= link_to edit_category_path(category), class: "waves-effect waves-light btn" do %>
                <i class="material-icons">edit</i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>              
  <% end %>
</div>
<center>
  <%= paginate @categories %>
</center>
<br>