<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <%= link_to "Michael Schumacher", root_path, class: "brand-logo" %>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Articles", articles_path %></li>
        <li><%= link_to "Bloggers", users_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <% unless loggined_in? %>
          <li>
            <%= link_to login_path, class: "btn-small waves-effect waves-light green darken-1" do %>
              SIGN IN <i class="material-icons right">account_circle</i>
            <% end %>
          </li>
          <li> 
            <%= link_to signup_path, class: "btn-small waves-effect waves-light green darken-1" do %>
              SIGN UP <i class="material-icons right">send</i>         
            <% end %>
          </li>
        <% else %>
          <li>
            <b>
            [ <%= current_user.try(:username).to_s.downcase %><%= "-Admin" if current_user.try(:admin) %> ]
            </b>
          </li>
          <li>
            <%= link_to user_path(session[:user_id]), title: current_user.try(:username).to_s do %>
              <i class="material-icons">account_circle</i>        
            <% end %>
          </li>
          <li>
            <%= link_to logout_path, method: :delete, title: 'Exit' do %>
              <i class="material-icons">exit_to_app</i>         
            <% end %>
          </li>
        <% end %>
      </ul>
      </ul>
    </div>
  </nav>
</div>