<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <%= link_to "Michael Schumacher", root_path, class: "brand-logo" %>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Articles", articles_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li> 
          <%= link_to "#", class: "btn waves-effect waves-light green" do %>
            SIGN UP <i class="material-icons right">send</i>         
          <% end %>
        </li>
      </ul>
      </ul>
    </div>
  </nav>
</div>

