<!DOCTYPE html>
<html>
  <head>
    <title>SiteMaterialize</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <nav>
        <div class="nav-wrapper">
          <%= link_to "LOGO", root_path, class: "brand-logo" %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "Index", root_path %></li>
            <li><%= link_to "Articles", articles_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </div>
      </nav>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
