<!DOCTYPE html>
<html>
  <head>
    <title>SiteMaterialize</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <%= stylesheet_link_tag 'application', 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <%= render 'layouts/navigation' %>
    </div>
    <div id="main">
      <%= render 'shared/message_center'%>
      <%= yield %>
    </div>
    <div id="footer">
     <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
